@viewport {
    width: device-width;
    zoom: 1.0;
}

@media screen and (max-width: 520px){
    .pics, .header
       {
        font-size: 10px;
    }
}

header {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: goldenrod;
    padding-right: 8px;
}

.header {
    background-color: #aa0000; 
    color: goldenrod;
}


.naslov {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

button {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    max-width: max-content;
    color: goldenrod;
    background-color: #581644;
}

img {
    /* max-width: 300px; */
    max-width: 75%;
    max-height: auto;
    border-radius: 25px 30px;
    flex-shrink: 1;
}

.pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #581644;
    color: goldenrod;
}

@media screen and (max-width: 520px) {
    .photos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 520px) {
    .photo_1, .photo_2 {
        min-width: 120px;
        max-width: 140px;
    }
}

@media screen and (max-width: 520px) {
    .photo_3, .photo_4 {
        min-width: 100px;
        max-width: 110px;
        font-size: 11px;
    }
}

h3 {
    align-self: center;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colosseum {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 0;
}

@media  screen and (max-width: 520px) {
   .colosseum {
       max-width: 32%;
       height: auto;
   } 
}

.photo_1, .photo_2,
.photo_3, .photo_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo_1 {
    margin-left: 10px;
}

.lowerparts {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: rgb(88, 22, 68);
    color: white;
}

.quote {
    border-radius: 44px;
    padding: 15px;
    border: solid white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    position: relative;
    bottom: 0;
    background-color: black;
    color: lightgray;
}

.bottom {
    background-color: #aa0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 190px;
}

.izjava {
    background-color: goldenrod;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 22px;
    column-gap: 40px;
    padding: 20px;
    min-width: 600px;
    flex-shrink: 2;
}
@media screen and (max-width: 520px){
    .izjava, .lowerparts {
        min-width: fit-content;
        font-size: 12px;
    }
}

.blue{
    background-color: #aa0000;
    color: goldenrod;
}

@media screen and (max-width: 520px) {
    button {
        max-width: fit-content;
        font-size: 7px;
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 520px){
    a {
        font-size: 9px;
    }
}

body {
    margin: 0;
}