header {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: goldenrod;
    padding-right: 8px;
}

.header {
    background-color: #aa0000; 
    color: goldenrod;
}


.naslov {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

button {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    max-width: max-content;
    color: goldenrod;
    background-color: #581644;
}

img {
    max-width: 300px;
    max-height: 270px;
    border-radius: 25px 30px;
}

.pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #581644;
    color: goldenrod;
}


h3 {
    align-self: center;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colosseum {
    max-width: 320px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 0;
}

.photo_1, .photo_2,
.photo_3, .photo_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo_1 {
    margin-left: 10px;
}

.lowerparts {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: #581644;
    color: white;
}

.quote {
    border-radius: 44px;
    padding: 15px;
    border: solid white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    position: relative;
    bottom: 0;
    background-color: black;
    color: lightgray;
}

.bottom {
    background-color: #aa0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 190px;
}

.izjava {
    background-color: goldenrod;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 22px;
    column-gap: 40px;
    padding: 20px;
    min-width: 600px;
    flex-shrink: 2;
}


.blue{
    background-color: #aa0000;
    color: goldenrod;
}

body {
    margin: 0;
}